{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1 class="text-center">Aktuální stav</h1>
    {% for sensor in sensors %}
        {{ include('AppBundle::_sensor.html.twig', { 'sensor': sensor }) }}
    {% endfor %}
</div>
{% endblock %}
